
svg.team_balloon {
	width: 292px;
	height: 215px;

	.strip {
		.back-strip {
			fill: #575350;
			cursor: pointer;
		}

		.color-ring {
			fill: pink;
			cursor: pointer;

			&.orange {
				fill: orange;
			}
		}
	}

	.bubble-pin {
		cursor: pointer;
	}
}