$footer-top-padding: 80px;

footer {
	
	background: url(layout/topo_bg_footer.png) left top;

	.footer-nav {

		padding-top: $footer-top-padding;

		ul {
			list-style: none;

			li {
				float: left;
				width: 50%;
				margin-bottom: 10px;

				a {
					color: #7A7873;
					font-size: 1.4em;
				}
			}
		}
	}

	.ribbon {
		background-color: rgba(0, 0, 0, 0.5);

		section {
			text-align: center;
			border-bottom: 1px dashed #3a3937;
			margin: 0px 5px;

			&.social {
				background-image: url(svgs/triangle.svg);
				background-repeat: no-repeat;
				background-position: center top;
				background-size: 140px 20px;
				padding: 50px 0px 30px 0px;
			}

			&.phone-number {

				padding: 20px 0px 10px 0px;
				a {
					font-size: 3.3em;
					color: #fff;
				}
			}

			&.email {

				padding: 30px 0px 20px 0px;
				a {
					font-size: 2.9em;
					color: #F05921;
				}
			}

			&.office-location {

				padding: 30px 0px 20px 0px;
				border-bottom: 0px;
				a {
					font-size: 1.6em;
					color: #fff;
				}
			}

			&.copyright {
				color: #7A7873;
				border-bottom: 0px;
				padding-bottom: 30px;
			}
		}
	}

	.jobs-ticker {

		padding-top: $footer-top-padding;
		color: #7A7873;
		text-align: center;
		font-size: 1.4em;

		@include mobile-only {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		a {
			color: #F05921;
		}
	}
}