div[role=masterhead] {
	background-color: #fff;

	header {

		a.logo {
			display: block;
			width: 165px;
			height: 60px;
			background: url(svgs/20MileLogo.svg) no-repeat left top;
			background-size: 165px 60px;
			text-indent: -99999px;
			color: transparent;
			margin-top: 30px;

			@media (max-width: $mobile-max-width) { // {}
				width: 275px;
				height: 100px;
				background-size: 275px 100px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		nav {
			ul {
				list-style: none;

				@media (max-width: $mobile-max-width) { // {}
					margin: 0;
					padding: 0;
				}

				li {
					float: left;
					margin-left: 50px;

					@media (max-width: $mobile-max-width) { // {}
						margin-left: 8px;
						width: auto;
					}

					a {
						@include inline-block;
						padding-top: 50px;
						padding-bottom: 20px;
						color: #B2B2B2;
						font-size: 1.3em;
						font-weight: 100;

						&:hover {
							background-repeat: no-repeat;
							background-position: center top;
							background-size: 50%;
							text-decoration: none;

							&.nav-expertise {
								background-image: url(layout/icon_expertise.png);
							}
						}
					}
				}
			}
		}

	}
}