$icon-full-width: 	538px;
$icon-full-height: 	400px;

$pos1-width: 		$icon-full-width;
$pos2-width: 		140px;
$pos3-width: 		150px;
$pos4-width: 		170px;

$pos1-height: 		$icon-full-height / $icon-full-width * $pos1-width;
$pos2-height: 		$icon-full-height / $icon-full-width * $pos2-width;
$pos3-height: 		$icon-full-height / $icon-full-width * $pos3-width;
$pos4-height: 		$icon-full-height / $icon-full-width * $pos4-width;

section#home-widget {

	display: block;

	#hw-nav {

		position: relative;
		margin-top: -400px;

		a {
			@include inline-block;
			background-repeat: no-repeat;
			background-position: left top;
			text-align: center;

			color: #B2B2B2;
			font-size: 1.2em;
			font-style: italic;

			position: absolute;

			&#hw-identity-design {
				background-image: url(layout/mountains.png);
			}
			&#hw-online-marketing {
				background-image: url(layout/island.png);
			}
			&#hw-web-design {
				background-image: url(layout/city.png);
			}
			&#hw-web-development {
				background-image: url(layout/desert.png);
			}

			&.pos1 {
				width: $pos1-width;
				padding-top: $pos1-height + 10px;
				background-size: $pos1-width $pos1-height;
				right: 0px;
				top: 0px;
				color: #49443e;
				font-size: 2em;
			}

			&.pos2 {
				width: $pos2-width;
				padding-top: $pos2-height - 10px;
				background-size: $pos2-width $pos2-height;
				top: 20px;
				right: 450px;
			}

			&.pos3 {
				width: $pos3-width;
				padding-top: $pos3-height;
				background-size: $pos3-width $pos3-height;
				top: 90px;
				right: 580px;
			}

			&.pos4 {
				width: $pos4-width;
				padding-top: $pos4-height - 10px;
				background-size: $pos4-width $pos4-height;
				top: 220px;
				right: 600px;
			}
		}
	}

	section {
	
		display: block;
		
	}
}