div[role=home] {
	background-color: #b2b1ad;
	background-image: url(layout/topo_bg.png);
	background-repeat: repeat-x;
	padding-top: 20px;

	@include mobile-only {
		padding-left: 20px;
		padding-right: 20px;
		background-size: auto 300px;
	}

	.home-secondary {
		background-color: #afaeaa;
		padding-bottom: 30px;

		#kayak {

			margin-top: -40px;

			#hull {
				fill: #76BEE9;
			}

			#right-nose {
				fill: #F15B24;
			}

			#left-nose {
				fill: #A5CE39;
			}

			#top-hull {
				opacity: 0.2;
				fill: #01758C;
			}

			#hole {
				fill: #01758C;
			}
		}

		.span4 {
			article {
				header {
					h1 {
						font-size: 1.4em;
						text-align: center;
					}
				}

				p, h3 {
					color: #FFF;
					text-align: center;
				}

				p {
					font-size: 1.2em;
				}

				&.recent-results {

					.imac-frame {
						margin: auto;
						width: 300px;
						background: url(layout/imac.png) no-repeat left top;
						padding: 12px 12px 60px 12px;

						@include mobile-only {
							width: 280px;
							background-size: 280px;
						}

						.snapshot {
							display: block;
							width: 276px;
							height: 153px;
							overflow: hidden;

							@include mobile-only {
								width: 256px;
							}
						}
					}

					a {
						font-style: italic;
						color: #F05921;
					}
				}

				&.from-the-journal {

					padding: 0px 10px;
					h3 {
						line-height: 1.3em;
					}
				}

				&.from-twitter {
					padding: 0px 10px;

					p {
						word-wrap: break-word;
					}
				}
			}
		}
	}

	section#spotlight {

		min-height: 534px;

		h1 {

			margin-bottom: 25px;

			@include mobile-only {
				br {
					display: none;
				}
			}

			& + p {
				font-size: 1.5em;
				color: #f15a22;
			}
		}

		@include mobile-only {

			min-height: 640px;

			h1 {
				font-size: 1.8em;
				line-height: 1.4em;
				margin-bottom: 25px;

				& + p {
					font-size: 1.5em;
					color: #f15a22;
				}
			}
		}
	}
}

@import "home_widget";
