$icon-full-width: 	536px;
$icon-full-height: 	400px;

$pos1-width: 		$icon-full-width;
$pos2-width: 		140px;
$pos3-width: 		150px;
$pos4-width: 		170px;

$pos1-height: 		$icon-full-height / $icon-full-width * $pos1-width;
$pos2-height: 		$icon-full-height / $icon-full-width * $pos2-width;
$pos3-height: 		$icon-full-height / $icon-full-width * $pos3-width;
$pos4-height: 		$icon-full-height / $icon-full-width * $pos4-width;

@mixin first_position() {
	width: $pos1-width;
	padding-top: $pos1-height + 16px;
	background-size: $pos1-width $pos1-height;
	right: 0px;
	top: 0px;
	color: #49443e;
	font-size: 2em;
	z-index: 0;
}

@mixin second_position() {
	width: $pos2-width;
	padding-top: $pos2-height;
	background-size: $pos2-width $pos2-height;
	top: 20px;
	right: 450px;
	z-index: 2000;
}

@mixin third_position() {
	width: $pos3-width;
	padding-top: $pos3-height;
	background-size: $pos3-width $pos3-height;
	top: 90px;
	right: 580px;
	z-index: 2000;
}

@mixin fourth_position() {
	width: $pos4-width;
	padding-top: $pos4-height;
	background-size: $pos4-width $pos4-height;
	top: 220px;
	right: 600px;
	z-index: 2000;
}


section#home-widget {

	display: block;

	#hw-nav {

		position: relative;
		margin-top: -400px;
		
		@include mobile-only {
			margin-top: -480px;	
		}

		&.pos1 {
			@include mobile-portrait-and-up {
				a#hw-identity-design{ @include first_position(); }
				a#hw-online-marketing { @include second_position(); }
				a#hw-web-design { @include third_position(); }
				a#hw-web-development { @include fourth_position(); }
			}
			@include mobile-only {
				a#hw-identity-design { @include prefixer(filter, grayscale(0%), webkit moz ms o); }
			}
		}

		&.pos2 {
			@include mobile-portrait-and-up {
				a#hw-identity-design{ @include fourth_position(); }
				a#hw-online-marketing { @include first_position(); }
				a#hw-web-design { @include second_position(); }
				a#hw-web-development { @include third_position(); }
			}
			@include mobile-only {
				a#hw-online-marketing { @include prefixer(filter, grayscale(0%), webkit moz ms o); }
			}
		}

		&.pos3 {
			@include mobile-portrait-and-up {
				a#hw-identity-design{ @include third_position(); }
				a#hw-online-marketing { @include fourth_position(); }
				a#hw-web-design { @include first_position(); }
				a#hw-web-development { @include second_position(); }
			}
			@include mobile-only {
				a#hw-web-design { @include prefixer(filter, grayscale(0%), webkit moz ms o); }
			}
		}

		&.pos4 {
			@include mobile-portrait-and-up {
				a#hw-identity-design{ @include second_position(); }
				a#hw-online-marketing { @include third_position(); }
				a#hw-web-design { @include fourth_position(); }
				a#hw-web-development { @include first_position(); }
			}
			@include mobile-only {
				a#hw-web-development { @include prefixer(filter, grayscale(0%), webkit moz ms o); }
			}
		}

		a {
			@include inline-block;
			background-repeat: no-repeat;
			background-position: left top;
			text-align: center;

			@include animation-name(top, right, width, height);
			@include transition-duration(.5s);
			@include transition-timing-function(ease-in);

			@include prefixer(user-select, none, webkit moz spec);

			color: #B2B2B2;
			font-size: 1.2em;
			font-style: italic;

			position: absolute;

			@include mobile-only {
				@include prefixer(filter, grayscale(100%), webkit moz ms o);
				width: 70px;
				padding-top: 60px;
				background-size: 70px 52px;
				top: 0px;
				z-index: 9999;
				font-size: 1em;
				line-height: 1em;
			}

			&:hover {
				text-decoration: none;
			}

			&#hw-identity-design {
				background-image: url(layout/mountains.png);
				@include mobile-only {
					left: 0px;
				}
			}
			&#hw-online-marketing {
				background-image: url(layout/island.png);
				@include mobile-only {
					left: 25%;
				}
			}
			&#hw-web-design {
				background-image: url(layout/city.png);
				@include mobile-only {
					left: 50%;
				}
			}
			&#hw-web-development {
				background-image: url(layout/desert.png);
				@include mobile-only {
					left: 75%;
				}
			}
		}
	}

	#hw-sectional {
		padding-top: 60px;
		position: relative;
		min-height: 220px;

		@include mobile-only {
			min-height: 550px;
			padding-top: 100px;
		}
	}

	section {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 1.8em;
		line-height: 1.5em;
		color: #fff;
		opacity: 0;
		position: absolute;
		@include animation-name(opacity);
		@include transition-duration(.5s);
		@include transition-timing-function(ease-in);
	}

	.pos1 {
		section#panel-identity-design{ 
			opacity: 1;
		}
	}

	.pos2 {
		section#panel-online-marketing {
			opacity: 1;
		}
	}

	.pos3 {
		section#panel-web-design { 
			opacity: 1;
		}
	}

	.pos4 {
		section#panel-web-development { 
			opacity: 1;
		}
	}
}