
.page-title {
	background-color: #b2b1ad;
	background-image: url(layout/topo_bg.png);
	background-repeat: repeat-x;

	header {
		text-align: center;

		h1 {
			display: inline-block;
			background-repeat: no-repeat;
			font-size: 5em;
			padding-top: 30px;
			padding-bottom: 30px;

			&.expertise  {
				background-image: url(layout/ico-expertise-h1.png); 
				background-size: 61px 62px;
				background-position: left 13px;
				padding-left: 75px;

				@include retina {
					background-image: url(layout/ico-expertise-h1@2x.png); 
				}
			}

			&.results  {
				background-image: url(layout/ico-results-h1.png); 
				background-size: 46px 49px;
				background-position: left 29px;
				padding-left: 55px;

				@include retina {
					background-image: url(layout/ico-results-h1@2x.png); 
				}
			}

			&.team  {
				background-image: url(layout/ico-team-h1.png); 
				background-size: 80px 51px;
				background-position: left 29px;
				padding-left: 100px;

				@include retina {
					background-image: url(layout/ico-team-h1@2x.png); 
				}
			}

			&.journal  {
				background-image: url(layout/ico-journal-h1.png); 
				background-size: 41px 49px;
				background-position: left 29px;
				padding-left: 64px;

				@include retina {
					background-image: url(layout/ico-journal-h1@2x.png); 
				}
			}

			&.contact  {
				background-image: url(layout/ico-contact-h1.png); 
				background-size: 38px 55px;
				background-position: left 22px;
				padding-left: 50px;

				@include retina {
					background-image: url(layout/ico-contact-h1@2x.png); 
				}
			}
		}
	}
}

.page-body {
	background-color: #afaeaa;

	.intro-text {

		padding-top: 30px;
		padding-bottom: 30px;

		h3 {
			color: #fff;
			font-size: 3em;
			text-align: center;
		}
	}

	&.team {
		background-image: url(layout/bg-team.png);
		background-repeat: no-repeat;
		background-size: 1660px 630px;
		background-position: center 510px;
	}

	&.contact {
		padding-bottom: 80px;
	}

	&.journal {

		padding-bottom: 100px;

		& > .container > .span12 {
			background-image: url(layout/dotted_vertical_bg.png);
			background-repeat: repeat-y;
			background-position: center top;
			padding-bottom: 100px;
		}
	}
}

@import "expertise_page";
@import "results_page";
@import "team_page";
@import "journal_page";
@import "contact_page";
