.journal {
	.filter-wrapper {
		@include clearfix;
		display: block;
		background-color: #00748B;
		color: #fff;
		font-size: 1.2em;

		.filter-label {
			display: inline-block;
			background-color: #06374c;
			float: left;
			padding: 16px 32px;
		}

		.filter-bar {
			display: inline-block;
			float: left;
			padding: 16px 16px;

			span {
				color: #ccc;
			}
		}

		.close {
			display: block;
			width: 20px;
			height: 20px;
			background-image: url(layout/close-btn1.png);
			background-repeat: no-repeat;
			background-position: left top;
			background-size: 20px 20px;
			opacity: 1;
			margin: 16px;

			@include retina {
				background-image: url(layout/close-btn1@2x.png);
			}
		}
	}

	article {

		display: block;
		width: 412px;
		background-color: #aaa9a5;
		// background-color: #66615B;
		padding: 28px 28px 60px 28px;

		float: left;
		margin-top: 100px;

		&.featured {
			margin-top: 0px;
			margin-right: 392px;
			margin-bottom: 100px;
		}

		&.odd {
			margin-right: 4px;
		}
		&.even {
			float: right;
			margin-top: -60px;
		}

		header {
			margin-bottom: 20px;
			h1 {
				font-size: 2em;
				line-height: 1.4em;
				margin: 0px;
				color: #fff;
				a {
					color: #fff;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		p {
			font-family: Adelle;
			font-size: 1.1em;
		}

		footer {

			position: absolute;
			width: 392px;
			margin-top: 16px;

			@include clearfix();
			time {
				display: inline-block;
				background-color: #F05921;
				color: #fff;
				padding: 0px 8px 4px 8px;
				text-align: center;
				float: left;

				.month {
					display: block;
					font-size: 1.5em;
				}

				.day {
					display: block;
					font-size: 2.3em;
				}
			}

			.tags-categories {
				float: right;
				padding-top: 50px;
				width: 370px;
				margin-right: -30px;

				.tags {
					font-size: 0.9em;
					display: inline-block;
					color: #fff;
					float: right;
					margin-right: 10px;
					margin-top: 4px;
					a {
						color: #fff;
					}
				}

				.categories {
					display: inline-block;
					float: right;
					a {
						display: block;
						width: 36px;
						height: 27px;
						float: right;
						margin-left: 3px;
						background-repeat: no-repeat;
						background-position: left bottom;

						&.web-design {
							background-image: url(layout/webdesign-med.png);
							background-size: 36px 24px;
						}

						&.online-marketing {
							background-image: url(layout/onlinemarketing-med.png);
							background-size: 36px 21px;
						}

						&.web-development {
							background-image: url(layout/webdev-med.png);
							background-size: 36px 20px;
						}

						&.identity-design {
							background-image: url(layout/iddesign-med.png);
							background-size: 36px 27px;
						}
					}
				}
			}
		}

		blockquote {
			position: absolute;
			width: 412px;
			background-color: #fff;
			padding: 28px;
			margin: 0;
			border-left: 0;
			margin-left: 444px;
			margin-top: -214px;
			h3 {
				font-family: Adelle;
				font-style: italic;
				color: #F05921;
				font-weight: bold;
				line-height: 1.6em;
			}
		}
	}
}