// Results Page styles

.result-item {
	
	@include clearfix;
	margin-bottom: 80px;

	.result-screens {
		
		width: 379px;
		float: left;

		.top {

			@include clearfix;
			display: block;
			width: 379px;
			height: 134px;
			margin-bottom: 20px;
			
			.mobile-screen {
				float: right;
				margin-right: 24px;
				margin-top: 67px;
				display: block;
				width: 43px;
				height: 67px;
				background-image: url(layout/iphone-lg.png);
				background-size: 43px 67px;
				background-repeat: no-repeat;
				background-position: left top;

				@include retina {
					background-image: url(layout/iphone-lg@2x.png);
				}

				.snapshot {
					padding: 6px;
				}
			}

			.tablet-screen {
				float: right;
				margin-right: 24px;
				display: block;
				width: 100px;
				height: 134px;
				background-image: url(layout/ipad-lg.png);
				background-size: 100px 134px;
				background-repeat: no-repeat;
				background-position: left top;

				@include retina {
					background-image: url(layout/ipad-lg@2x.png);
				}

				.snapshot {
					padding: 6px;
				}
			}
		}

		.bottom {

			width: 379px;
			height: 268px;

			.desktop-screen {
				display: block;
				width: 379px;
				height: 268px;
				background-image: url(layout/imac-lg.png);
				background-size: 379px 268px;
				background-repeat: no-repeat;
				background-position: left top;

				@include retina {
					background-image: url(layout/imac-lg@2x.png);
				}

				.snapshot {
					padding: 12px;
				}
			}
		}
	}

	.result-description {
		margin-left: 339px;
		margin-top: 12px;
		padding: 20px 25px 40px 65px;
		width: 470px;
		background-color: #fff;

		header {
			h1 {

			}
		}

		footer {
			@include clearfix;

			* {
				float: left;
			}

			a.case-study-btn {
				display: inline-block;
				background-color: #F05921;
				color: #fff;
				padding: 12px 24px;
				font-size: 1.3em;
				@include animation-name(background-color);
				@include transition-duration(.1s);
				@include transition-timing-function(linear);

				&:hover {
					text-decoration: none;
					background-color: saturate(#F05921, 15%);
				}
			}

			.categories {
				display: inline-block;
				background-color: #E0DED9;
				height: 40px;
				padding: 4px 10px;

				div {
					display: block;
					width: 54px;
					height: 40px;
					background-repeat: no-repeat;
					background-position: center bottom;
					margin: 0px 4px;

					&.id-design {
						background-size: 54px 40px;
						background-image: url(layout/iddesign-med.png);
					}

					&.web-design {
						background-size: 54px 36px;
						background-image: url(layout/webdesign-med.png);
					}

					&.web-development {
						background-size: 54px 31px;
						background-image: url(layout/webdev-med.png);
					}

					&.online-marketing {
						background-size: 54px 31px;
						background-image: url(layout/onlinemarketing-med.png);
					}
				}
			}
		}
	}

	.thumb-wrapper {
		@include clearfix;
		margin: 0 auto;
		width: 100%;
		height: 120px;
		position: relative;

		a.browse {
			background-color: #5C5852;
			display: block;
			width: 30px;
			height: 120px;
			float:left;
			margin: 0px;
			cursor: pointer;
			font-size: 1px;
			position: absolute;
			top: 0px;
			background-repeat: no-repeat;
			background-size: 12px 14px;
			background-position: center center;

			&:hover {
				background-color: #F15A21;
			}

			&.left {
				left: 0px;
				background-image: url(layout/arrow-l1.png);
			}

			&.right {
				right: 0px;
				background-image: url(layout/arrow-r1.png);
			}


		}

		.scrollable {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: 120px;
			float:left;
			margin: 0px;
			padding: 0px;

			.items {
				/* this cannot be too large */
				width: 20000em;
				height: 120px;
				position: absolute;
				background-color: #66615B;
				padding: 0px;

				.thumb-screen {
					float: left;
					background-repeat: no-repeat;
					background-position: left top;
					margin-top: 10px;
					margin-left: 10px;
					display: block;

					&:first-child {
						margin-left: 40px;
					}

					&.desktop {
						width: 140px;
						height: 99px;
						background-size: 140px 99px;
						background-image: url(layout/imac-sm.png);

						&:hover {
							/* @todo Add hover background image for desktop thumb */
						}

						img {
							margin: 6px;
						}
					}

					&.tablet {
						width: 63px;
						height: 83px;
						background-size: 63px 83px;
						background-image: url(layout/ipad-sm.png);

						&:hover {
							/* @todo Add hover background image for tablet thumb */
						}

						img {
							margin: 5px;
						}
					}

					&.mobile {
						width: 35px;
						height: 54px;
						background-size: 35px 54px;
						background-image: url(layout/iphone-sm.png);

						&:hover {
							/* @todo Add hover background image for mobile thumb */
						}

						img {
							margin: 4px;
						}
					}

					img {
						cursor: pointer;
					}
				}
			}
		}
	}
}