.team-container {
	@include clearfix();
	margin-top: 20px;

	.team-row {
		margin-bottom: 77px;
	}
}

.team-modal {

	.modal-body {
		.top-row {
			@include clearfix();
			.profile-picture {
				display: block;
				width: 220px;
				height: 330px;
				float: left;
			}
			.profile-bio {
				position: relative;
				display: block;
				width: 380px;
				height: 330px;
				padding: 0px 10px;
				background-color: #fff;
				float: left;
				text-align: left;

				.close-row {
					margin-top: 8px;
					button.close {
						background-image: url(layout/close-btn1.png);
						display: inline-block;
						width: 20px;
						height: 20px;
						background-repeat: no-repeat;
						background-size: 20px 20px;
						background-position: left top;
						opacity: 1;

						&:hover {
							opacity: 0.8;
						}
					}
				}

				header {
					padding: 0px 14px;
					h3 {
						color: #B2B1AD;
						margin: 30px 0px 0px 0px;
						font-size: 1.4em;
						line-height: 1em;
					}

					h1 {
						margin: 0px;
						padding: 0px;
					}
				}

				.profile-content {
					padding: 0px 14px;
				}

				footer {
					position: absolute;
					bottom: 0px;
					left: 0px;
					padding: 24px;
					a.jornal-link {
						color: #B2B1AD;
						font-size: 1.1em;
						padding: 5px 26px;
						background-image: url(layout/ico-journal-sm.png);
						background-repeat: no-repeat;
						background-size: 18px 22px;
						background-position: left center;

						&:hover {
							color: darken(#B2B1AD, 10%);
							text-decoration: none;
						}
					}
				}
			}
		}

		.bottom-row {
			background-color: #66615B;
			min-height: 200px;
			text-align: left;
			padding: 20px;

			h4 {
				color: #B2B1AD;
			}

			p {
				color: #fff;
			}
		}
	}

	.modal-footer {
		background-color: #F05921;
		text-align: left;
		padding: 10px;

		.social-bar {

			a {
				color: #fff;
				font-size: 1.3em;
				margin: 0px 20px;
				opacity: .9;

				&:hover {
					text-decoration: none;
					opacity: 1;
				}

				&.twitter {
					background-image: url(layout/twitter-sm.png);
					background-repeat: no-repeat;
					background-size: 18px 15px;
					background-position: left center;
					padding-left: 22px;

					@include retina {
						background-image: url(layout/twitter-sm@2x.png);
					}
				}

				&.linkedin {
					background-image: url(layout/linkedin-sm.png);
					background-repeat: no-repeat;
					background-size: 16px 17px;
					background-position: left center;
					padding-left: 22px;

					@include retina {
						background-image: url(layout/linkedin-sm@2x.png);
					}
				}
			}
		}
	}
}

svg.team_balloon {
	width: 292px;
	height: 215px;
	margin-right: 10px;

	.strip {
		.back-strip {
			fill: #575350;
			cursor: pointer;
		}

		.color-ring {
			fill: #fff;
			cursor: pointer;

			&.orange {
				fill: orange;
			}
		}
	}

	.bubble-pin {
		cursor: pointer;
	}

	text {
		.team-member-name {
			fill: #EDECE8;
			color: #EDECE8;
			font-family: Asap;
			font-size: 16px;
		}

		.team-member-title {
			fill: #B3B2AE;
			color: #B3B2AE;
			font-family: Asap;
			font-size: 14px;
		}
	}
}