/*
 * 20Mile Interactive Stylesheet
 * 
 * Author: Rodrigo Passos;
 * Notes: I am using Twitter Bootstrap and Bourbon (bourbon.io)
 */

@include font-face(Asap, '/fonts/asap/Asap-Regular');
@include font-face(Asap, '/fonts/asap/Asap-Bold', bold);
@include font-face(Asap, '/fonts/asap/Asap-Italic', normal, italic);
@include font-face(Asap, '/fonts/asap/Asap-BoldItalic', bold, italic);


// Set variables
$headingsFontWeight: 	normal;
$sansFontFamily:        Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;

$mobile-max-width: 767px;


@import "bootstrap/bootstrap";
@import "bootstrap/responsive";


@import "base";