/*
 * 20Mile Interactive Stylesheet
 * 
 * Author: Rodrigo Passos;
 * Notes: I am using Twitter Bootstrap and Bourbon (bourbon.io)
 */

@font-face {
    font-family: DeliciousRoman;
    src: url(fonts/asap/Asap-Regular.ttf);
    font-weight:400;
}

@font-face {
    font-family: DeliciousRoman;
    src: url(fonts/asap/Asap-Bold.ttf);
    font-weight:700;
}

@font-face {
    font-family: DeliciousRoman;
    src: url(fonts/asap/Asap-BoldItalic.ttf);
    font-weight:700;
    font-style: italic;
}

@font-face {
    font-family: DeliciousRoman;
    src: url(fonts/asap/Asap-Italic.ttf);
    font-weight:400;
    font-style: italic;
}

// Set variables
$headingsFontWeight: 	normal;
$sansFontFamily:        Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;

$mobile-max-width: 767px;


@import "bootstrap/bootstrap";
@import "bootstrap/responsive";


@import "base";