/*
 * 20Mile Interactive Stylesheet
 * 
 * Author: Rodrigo Passos;
 * Notes: I am using Twitter Bootstrap and Bourbon (bourbon.io)
 */

@include font-face(Asap, '/fonts/asap/Asap-Regular');
@include font-face(Asap, '/fonts/asap/Asap-Bold', bold);
@include font-face(Asap, '/fonts/asap/Asap-Italic', normal, italic);
@include font-face(Asap, '/fonts/asap/Asap-BoldItalic', bold, italic);


// Set variables
$headingsFontWeight: 	normal;
$sansFontFamily:        Asap, "Helvetica Neue", Helvetica, Arial, sans-serif;


@import "bootstrap/bootstrap";

* {
	@include prefixer(font-smoothing, antialiased, webkit moz spec);
}

body {
	background-color: #3a3937;
}

div[role=home] {
	background-color: #b2b1ad;
	background-image: url(layout/topo_bg.png);
	background-repeat: repeat-x;
	padding-top: 20px;
}

div[role=masterhead] {
	background-color: #fff;
}

header {

	a.logo {
		display: block;
		width: 165px;
		height: 60px;
		background: url(layout/logo.png) no-repeat left top;
		text-indent: -99999px;
		color: transparent;
		margin-top: 30px;
	}

	nav {
		ul {
			list-style: none;

			li {
				float: left;
				margin-left: 50px;

				a {
					@include inline-block;
					padding-top: 50px;
					padding-bottom: 20px;
					color: #B2B2B2;
					font-size: 1.3em;
					font-weight: 100;

					&:hover {
						background-repeat: no-repeat;
						background-position: center top;
						background-size: 50%;

						&.nav-expertise {
							background-image: url(layout/icon_expertise.png);
						}
					}
				}
			}
		}
	}

}

section#spotlight {

	min-height: 544px;

	h1 {

		margin-bottom: 25px;

		& + p {
			font-size: 1.5em;
			color: #f15a22;
		}
	}
}

@import "home_widget";